/bin-d/space-deminer
/lib-d/libbase.a
/obj-d/base/binreloc_binreloc.o
/obj-d/base/binreloc_binreloc.o.d
/obj-d/base/cairo-stuff.o
/obj-d/base/cairo-stuff.o.d
/obj-d/base/files.o
/obj-d/base/files.o.d
/obj-d/base/paths.o
/obj-d/base/paths.o.d
/obj-d/base/strings.o
/obj-d/base/strings.o.d
/obj-d/space-deminer/framework_dummy-theme.o
/obj-d/space-deminer/framework_dummy-theme.o.d
/obj-d/space-deminer/framework_engine.o
/obj-d/space-deminer/framework_engine.o.d
/obj-d/space-deminer/framework_engine-opengl.o
/obj-d/space-deminer/framework_engine-opengl.o.d
/obj-d/space-deminer/framework_font.o
/obj-d/space-deminer/framework_font.o.d
/obj-d/space-deminer/framework_paint-tool.o
/obj-d/space-deminer/framework_paint-tool.o.d
/obj-d/space-deminer/framework_segmentedimage.o
/obj-d/space-deminer/framework_segmentedimage.o.d
/obj-d/space-deminer/framework_theme.o
/obj-d/space-deminer/framework_theme.o.d
/obj-d/space-deminer/framework_widget.o
/obj-d/space-deminer/framework_widget.o.d
/obj-d/space-deminer/framework_window.o
/obj-d/space-deminer/framework_window.o.d
/obj-d/space-deminer/main.o
/obj-d/space-deminer/main.o.d
/obj-d/space-deminer/menu-pages_highscore-page.o
/obj-d/space-deminer/menu-pages_highscore-page.o.d
/obj-d/space-deminer/menu-pages_main-page.o
/obj-d/space-deminer/menu-pages_main-page.o.d
/obj-d/space-deminer/menu-pages_options-page.o
/obj-d/space-deminer/menu-pages_options-page.o.d
/obj-d/space-deminer/menu-pages_quit-page.o
/obj-d/space-deminer/menu-pages_quit-page.o.d
/obj-d/space-deminer/options.o
/obj-d/space-deminer/options.o.d
/obj-d/space-deminer/ui_dark-theme.o
/obj-d/space-deminer/ui_dark-theme.o.d
/obj-d/space-deminer/ui_gui-test.o
/obj-d/space-deminer/ui_gui-test.o.d
/obj-d/space-deminer/ui_main-window.o
/obj-d/space-deminer/ui_main-window.o.d
/obj-d/space-deminer/ui_menu-alignment.o
/obj-d/space-deminer/ui_menu-alignment.o.d
/obj-d/space-deminer/ui_menu-back.o
/obj-d/space-deminer/ui_menu-back.o.d
/obj-d/space-deminer/ui_menu-frame.o
/obj-d/space-deminer/ui_menu-frame.o.d
/obj-d/space-deminer/ui_menu.o
/obj-d/space-deminer/ui_menu.o.d
/obj-d/space-deminer/ui_menu-page.o
/obj-d/space-deminer/ui_menu-page.o.d
/obj-d/space-deminer/ui_opengl-area.o
/obj-d/space-deminer/ui_opengl-area.o.d
/obj-d/space-deminer/widgets_alignment.o
/obj-d/space-deminer/widgets_alignment.o.d
/obj-d/space-deminer/widgets_bin.o
/obj-d/space-deminer/widgets_bin.o.d
/obj-d/space-deminer/widgets_box.o
/obj-d/space-deminer/widgets_box.o.d
/obj-d/space-deminer/widgets_buttonbox.o
/obj-d/space-deminer/widgets_buttonbox.o.d
/obj-d/space-deminer/widgets_button.o
/obj-d/space-deminer/widgets_button.o.d
/obj-d/space-deminer/widgets_checkbutton.o
/obj-d/space-deminer/widgets_checkbutton.o.d
/obj-d/space-deminer/widgets_combobox.o
/obj-d/space-deminer/widgets_combobox.o.d
/obj-d/space-deminer/widgets_container.o
/obj-d/space-deminer/widgets_container.o.d
/obj-d/space-deminer/widgets_dummy-widget.o
/obj-d/space-deminer/widgets_dummy-widget.o.d
/obj-d/space-deminer/widgets_entry.o
/obj-d/space-deminer/widgets_entry.o.d
/obj-d/space-deminer/widgets_frame.o
/obj-d/space-deminer/widgets_frame.o.d
/obj-d/space-deminer/widgets_imagewidget.o
/obj-d/space-deminer/widgets_imagewidget.o.d
/obj-d/space-deminer/widgets_label.o
/obj-d/space-deminer/widgets_label.o.d
/obj-d/space-deminer/widgets_layout.o
/obj-d/space-deminer/widgets_layout.o.d
/obj-d/space-deminer/widgets_misc.o
/obj-d/space-deminer/widgets_misc.o.d
/obj-d/space-deminer/widgets_notebook.o
/obj-d/space-deminer/widgets_notebook.o.d
/obj-d/space-deminer/widgets_paned.o
/obj-d/space-deminer/widgets_paned.o.d
/obj-d/space-deminer/widgets_radiobutton.o
/obj-d/space-deminer/widgets_radiobutton.o.d
/obj-d/space-deminer/widgets_scrollbar.o
/obj-d/space-deminer/widgets_scrollbar.o.d
/obj-d/space-deminer/widgets_scrolledwindow.o
/obj-d/space-deminer/widgets_scrolledwindow.o.d
/obj-d/space-deminer/widgets_separator.o
/obj-d/space-deminer/widgets_separator.o.d
/obj-d/space-deminer/widgets_spinbutton.o
/obj-d/space-deminer/widgets_spinbutton.o.d
/obj-d/space-deminer/widgets_treeview.o
/obj-d/space-deminer/widgets_treeview.o.d
/obj-d/space-deminer/widgets_viewport.o
/obj-d/space-deminer/widgets_viewport.o.d
/SpaceDeminer.tags
/SpaceDeminer_wsp.mk
/src/Base/Base.mk
/src/SpaceDeminer/SpaceDeminer.mk
/SpaceDeminer.workspace.session
/art/scenes/only-space/mixed-scene.001.blend1
/art/scenes/only-space/mixed-scene.001.blend2
/art/models/space/asteorids-01.blend1
/art/models/space/asteorids-01.blend2
/art/models/space/asteorids-01-low.blend1
/art/models/space/asteorids-01-low.blend2
/obj-d/base/opengl.o
/obj-d/base/opengl.o.d
/src/tools/PlanetGenerator/PlanetGenerator.mk
/bin-d/planet-generator
/bin/planet-generator
/lib/libbase.a
/obj/base/binreloc_binreloc.o
/obj/base/binreloc_binreloc.o.d
/obj/base/cairo-stuff.o
/obj/base/cairo-stuff.o.d
/obj/base/files.o
/obj/base/files.o.d
/obj/base/opengl.o
/obj/base/opengl.o.d
/obj/base/paths.o
/obj/base/paths.o.d
/obj/base/strings.o
/obj/base/strings.o.d
/obj-d/planet-generator/3DView.o
/obj-d/planet-generator/3DView.o.d
/obj-d/planet-generator/FileSettings.o
/obj-d/planet-generator/FileSettings.o.d
/obj-d/planet-generator/ImageFile.o
/obj-d/planet-generator/ImageFile.o.d
/obj-d/planet-generator/Layer.o
/obj-d/planet-generator/Layer.o.d
/obj-d/planet-generator/LayerView.o
/obj-d/planet-generator/LayerView.o.d
/obj-d/planet-generator/main.o
/obj-d/planet-generator/main.o.d
/obj-d/planet-generator/MainWindow.o
/obj-d/planet-generator/MainWindow.o.d
/obj-d/planet-generator/opengl.o
/obj-d/planet-generator/opengl.o.d
/obj-d/planet-generator/Options.o
/obj-d/planet-generator/Options.o.d
/obj-d/planet-generator/SettingsWidget.o
/obj-d/planet-generator/SettingsWidget.o.d
/obj-d/planet-generator/SphereMesh.o
/obj-d/planet-generator/SphereMesh.o.d
/obj-d/planet-generator/Sphere.o
/obj-d/planet-generator/Sphere.o.d
/obj-d/planet-generator/SphereTexture.o
/obj-d/planet-generator/SphereTexture.o.d
/obj-d/planet-generator/ViewSettings.o
/obj-d/planet-generator/ViewSettings.o.d
/obj/planet-generator/3DView.o
/obj/planet-generator/3DView.o.d
/obj/planet-generator/FileSettings.o
/obj/planet-generator/FileSettings.o.d
/obj/planet-generator/ImageFile.o
/obj/planet-generator/ImageFile.o.d
/obj/planet-generator/Layer.o
/obj/planet-generator/Layer.o.d
/obj/planet-generator/LayerView.o
/obj/planet-generator/LayerView.o.d
/obj/planet-generator/main.o
/obj/planet-generator/main.o.d
/obj/planet-generator/MainWindow.o
/obj/planet-generator/MainWindow.o.d
/obj/planet-generator/opengl.o
/obj/planet-generator/opengl.o.d
/obj/planet-generator/Options.o
/obj/planet-generator/Options.o.d
/obj/planet-generator/SettingsWidget.o
/obj/planet-generator/SettingsWidget.o.d
/obj/planet-generator/SphereMesh.o
/obj/planet-generator/SphereMesh.o.d
/obj/planet-generator/Sphere.o
/obj/planet-generator/Sphere.o.d
/obj/planet-generator/SphereTexture.o
/obj/planet-generator/SphereTexture.o.d
/obj/planet-generator/ViewSettings.o
/obj/planet-generator/ViewSettings.o.d
/obj-d/planet-generator/BaseTextureLayer.o
/obj-d/planet-generator/BaseTextureLayer.o.d
/obj-d/planet-generator/Texture.o
/obj-d/planet-generator/Texture.o.d
/obj/planet-generator/BaseTextureLayer.o
/obj/planet-generator/BaseTextureLayer.o.d
/obj/planet-generator/Texture.o
/obj/planet-generator/Texture.o.d
/obj/space-deminer/framework_dummy-theme.o
/obj/space-deminer/framework_dummy-theme.o.d
/obj/space-deminer/framework_engine.o
/obj/space-deminer/framework_engine.o.d
/obj/space-deminer/framework_engine-opengl.o
/obj/space-deminer/framework_engine-opengl.o.d
/obj/space-deminer/framework_font.o
/obj/space-deminer/framework_font.o.d
/obj/space-deminer/framework_paint-tool.o
/obj/space-deminer/framework_paint-tool.o.d
/obj/space-deminer/framework_segmentedimage.o
/obj/space-deminer/framework_segmentedimage.o.d
/obj/space-deminer/framework_theme.o
/obj/space-deminer/framework_theme.o.d
/obj/space-deminer/framework_widget.o
/obj/space-deminer/framework_widget.o.d
/obj/space-deminer/framework_window.o
/obj/space-deminer/framework_window.o.d
/obj/space-deminer/main.o
/obj/space-deminer/main.o.d
/obj/space-deminer/menu-pages_highscore-page.o
/obj/space-deminer/menu-pages_highscore-page.o.d
/obj/space-deminer/menu-pages_main-page.o
/obj/space-deminer/menu-pages_main-page.o.d
/obj/space-deminer/menu-pages_options-page.o
/obj/space-deminer/menu-pages_options-page.o.d
/obj/space-deminer/menu-pages_quit-page.o
/obj/space-deminer/menu-pages_quit-page.o.d
/obj/space-deminer/options.o
/obj/space-deminer/options.o.d
/obj/space-deminer/ui_dark-theme.o
/obj/space-deminer/ui_dark-theme.o.d
/obj/space-deminer/ui_gui-test.o
/obj/space-deminer/ui_gui-test.o.d
/obj/space-deminer/ui_main-window.o
/obj/space-deminer/ui_main-window.o.d
/obj/space-deminer/ui_menu-alignment.o
/obj/space-deminer/ui_menu-alignment.o.d
/obj/space-deminer/ui_menu-back.o
/obj/space-deminer/ui_menu-back.o.d
/obj/space-deminer/ui_menu-frame.o
/obj/space-deminer/ui_menu-frame.o.d
/obj/space-deminer/ui_menu.o
/obj/space-deminer/ui_menu.o.d
/obj/space-deminer/ui_menu-page.o
/obj/space-deminer/ui_menu-page.o.d
/obj/space-deminer/ui_opengl-area.o
/obj/space-deminer/ui_opengl-area.o.d
/obj/space-deminer/widgets_alignment.o
/obj/space-deminer/widgets_alignment.o.d
/obj/space-deminer/widgets_bin.o
/obj/space-deminer/widgets_bin.o.d
/obj/space-deminer/widgets_box.o
/obj/space-deminer/widgets_box.o.d
/obj/space-deminer/widgets_buttonbox.o
/obj/space-deminer/widgets_buttonbox.o.d
/obj/space-deminer/widgets_button.o
/obj/space-deminer/widgets_button.o.d
/obj/space-deminer/widgets_checkbutton.o
/obj/space-deminer/widgets_checkbutton.o.d
/obj/space-deminer/widgets_combobox.o
/obj/space-deminer/widgets_combobox.o.d
/obj/space-deminer/widgets_container.o
/obj/space-deminer/widgets_container.o.d
/obj/space-deminer/widgets_dummy-widget.o
/obj/space-deminer/widgets_dummy-widget.o.d
/obj/space-deminer/widgets_entry.o
/obj/space-deminer/widgets_entry.o.d
/obj/space-deminer/widgets_frame.o
/obj/space-deminer/widgets_frame.o.d
/obj/space-deminer/widgets_imagewidget.o
/obj/space-deminer/widgets_imagewidget.o.d
/obj/space-deminer/widgets_label.o
/obj/space-deminer/widgets_label.o.d
/obj/space-deminer/widgets_layout.o
/obj/space-deminer/widgets_layout.o.d
/obj/space-deminer/widgets_misc.o
/obj/space-deminer/widgets_misc.o.d
/obj/space-deminer/widgets_notebook.o
/obj/space-deminer/widgets_notebook.o.d
/obj/space-deminer/widgets_paned.o
/obj/space-deminer/widgets_paned.o.d
/obj/space-deminer/widgets_radiobutton.o
/obj/space-deminer/widgets_radiobutton.o.d
/obj/space-deminer/widgets_scrollbar.o
/obj/space-deminer/widgets_scrollbar.o.d
/obj/space-deminer/widgets_scrolledwindow.o
/obj/space-deminer/widgets_scrolledwindow.o.d
/obj/space-deminer/widgets_separator.o
/obj/space-deminer/widgets_separator.o.d
/obj/space-deminer/widgets_spinbutton.o
/obj/space-deminer/widgets_spinbutton.o.d
/obj/space-deminer/widgets_treeview.o
/obj/space-deminer/widgets_treeview.o.d
/obj/space-deminer/widgets_viewport.o
/obj/space-deminer/widgets_viewport.o.d
/bin/space-deminer
/obj-d/planet-generator/CloudTextureLayer.o
/obj-d/planet-generator/CloudTextureLayer.o.d
/obj/planet-generator/CloudTextureLayer.o
/obj/planet-generator/CloudTextureLayer.o.d
