/bin-d/space-deminer
/bin-d/sphere-uv-assistant
/lib-d/libbase.a
/obj-d/base/binreloc_binreloc.o
/obj-d/base/binreloc_binreloc.o.d
/obj-d/base/cairo-stuff.o
/obj-d/base/cairo-stuff.o.d
/obj-d/base/files.o
/obj-d/base/files.o.d
/obj-d/base/paths.o
/obj-d/base/paths.o.d
/obj-d/base/strings.o
/obj-d/base/strings.o.d
/obj-d/space-deminer/framework_dummy-theme.o
/obj-d/space-deminer/framework_dummy-theme.o.d
/obj-d/space-deminer/framework_engine.o
/obj-d/space-deminer/framework_engine.o.d
/obj-d/space-deminer/framework_engine-opengl.o
/obj-d/space-deminer/framework_engine-opengl.o.d
/obj-d/space-deminer/framework_font.o
/obj-d/space-deminer/framework_font.o.d
/obj-d/space-deminer/framework_paint-tool.o
/obj-d/space-deminer/framework_paint-tool.o.d
/obj-d/space-deminer/framework_segmentedimage.o
/obj-d/space-deminer/framework_segmentedimage.o.d
/obj-d/space-deminer/framework_theme.o
/obj-d/space-deminer/framework_theme.o.d
/obj-d/space-deminer/framework_widget.o
/obj-d/space-deminer/framework_widget.o.d
/obj-d/space-deminer/framework_window.o
/obj-d/space-deminer/framework_window.o.d
/obj-d/space-deminer/main.o
/obj-d/space-deminer/main.o.d
/obj-d/space-deminer/menu-pages_highscore-page.o
/obj-d/space-deminer/menu-pages_highscore-page.o.d
/obj-d/space-deminer/menu-pages_main-page.o
/obj-d/space-deminer/menu-pages_main-page.o.d
/obj-d/space-deminer/menu-pages_options-page.o
/obj-d/space-deminer/menu-pages_options-page.o.d
/obj-d/space-deminer/menu-pages_quit-page.o
/obj-d/space-deminer/menu-pages_quit-page.o.d
/obj-d/space-deminer/options.o
/obj-d/space-deminer/options.o.d
/obj-d/space-deminer/ui_dark-theme.o
/obj-d/space-deminer/ui_dark-theme.o.d
/obj-d/space-deminer/ui_gui-test.o
/obj-d/space-deminer/ui_gui-test.o.d
/obj-d/space-deminer/ui_main-window.o
/obj-d/space-deminer/ui_main-window.o.d
/obj-d/space-deminer/ui_menu-alignment.o
/obj-d/space-deminer/ui_menu-alignment.o.d
/obj-d/space-deminer/ui_menu-back.o
/obj-d/space-deminer/ui_menu-back.o.d
/obj-d/space-deminer/ui_menu-frame.o
/obj-d/space-deminer/ui_menu-frame.o.d
/obj-d/space-deminer/ui_menu.o
/obj-d/space-deminer/ui_menu.o.d
/obj-d/space-deminer/ui_menu-page.o
/obj-d/space-deminer/ui_menu-page.o.d
/obj-d/space-deminer/ui_opengl-area.o
/obj-d/space-deminer/ui_opengl-area.o.d
/obj-d/space-deminer/widgets_alignment.o
/obj-d/space-deminer/widgets_alignment.o.d
/obj-d/space-deminer/widgets_bin.o
/obj-d/space-deminer/widgets_bin.o.d
/obj-d/space-deminer/widgets_box.o
/obj-d/space-deminer/widgets_box.o.d
/obj-d/space-deminer/widgets_buttonbox.o
/obj-d/space-deminer/widgets_buttonbox.o.d
/obj-d/space-deminer/widgets_button.o
/obj-d/space-deminer/widgets_button.o.d
/obj-d/space-deminer/widgets_checkbutton.o
/obj-d/space-deminer/widgets_checkbutton.o.d
/obj-d/space-deminer/widgets_combobox.o
/obj-d/space-deminer/widgets_combobox.o.d
/obj-d/space-deminer/widgets_container.o
/obj-d/space-deminer/widgets_container.o.d
/obj-d/space-deminer/widgets_dummy-widget.o
/obj-d/space-deminer/widgets_dummy-widget.o.d
/obj-d/space-deminer/widgets_entry.o
/obj-d/space-deminer/widgets_entry.o.d
/obj-d/space-deminer/widgets_frame.o
/obj-d/space-deminer/widgets_frame.o.d
/obj-d/space-deminer/widgets_imagewidget.o
/obj-d/space-deminer/widgets_imagewidget.o.d
/obj-d/space-deminer/widgets_label.o
/obj-d/space-deminer/widgets_label.o.d
/obj-d/space-deminer/widgets_layout.o
/obj-d/space-deminer/widgets_layout.o.d
/obj-d/space-deminer/widgets_misc.o
/obj-d/space-deminer/widgets_misc.o.d
/obj-d/space-deminer/widgets_notebook.o
/obj-d/space-deminer/widgets_notebook.o.d
/obj-d/space-deminer/widgets_paned.o
/obj-d/space-deminer/widgets_paned.o.d
/obj-d/space-deminer/widgets_radiobutton.o
/obj-d/space-deminer/widgets_radiobutton.o.d
/obj-d/space-deminer/widgets_scrollbar.o
/obj-d/space-deminer/widgets_scrollbar.o.d
/obj-d/space-deminer/widgets_scrolledwindow.o
/obj-d/space-deminer/widgets_scrolledwindow.o.d
/obj-d/space-deminer/widgets_separator.o
/obj-d/space-deminer/widgets_separator.o.d
/obj-d/space-deminer/widgets_spinbutton.o
/obj-d/space-deminer/widgets_spinbutton.o.d
/obj-d/space-deminer/widgets_treeview.o
/obj-d/space-deminer/widgets_treeview.o.d
/obj-d/space-deminer/widgets_viewport.o
/obj-d/space-deminer/widgets_viewport.o.d
/obj-d/sphere-uv-assistant/3DView.o
/obj-d/sphere-uv-assistant/3DView.o.d
/obj-d/sphere-uv-assistant/File.o
/obj-d/sphere-uv-assistant/File.o.d
/obj-d/sphere-uv-assistant/FileSettings.o
/obj-d/sphere-uv-assistant/FileSettings.o.d
/obj-d/sphere-uv-assistant/Image.o
/obj-d/sphere-uv-assistant/Image.o.d
/obj-d/sphere-uv-assistant/main.o
/obj-d/sphere-uv-assistant/main.o.d
/obj-d/sphere-uv-assistant/MainWindow.o
/obj-d/sphere-uv-assistant/MainWindow.o.d
/obj-d/sphere-uv-assistant/Options.o
/obj-d/sphere-uv-assistant/Options.o.d
/obj-d/sphere-uv-assistant/SphereMesh.o
/obj-d/sphere-uv-assistant/SphereMesh.o.d
/obj-d/sphere-uv-assistant/ViewSettings.o
/obj-d/sphere-uv-assistant/ViewSettings.o.d
/SpaceDeminer.tags
/SpaceDeminer_wsp.mk
/src/Base/Base.mk
/src/SpaceDeminer/SpaceDeminer.mk
/src/tools/SphereUVAssistant/SphereUVAssistant.mk
/SpaceDeminer.workspace.session
/art/scenes/only-space/mixed-scene.001.blend1
/art/scenes/only-space/mixed-scene.001.blend2
/obj-d/sphere-uv-assistant/opengl.o
/obj-d/sphere-uv-assistant/opengl.o.d
/art/models/space/asteorids-01.blend1
/art/models/space/asteorids-01.blend2
/art/models/space/asteorids-01-low.blend1
/art/models/space/asteorids-01-low.blend2
/obj-d/sphere-uv-assistant/Sphere.o
/obj-d/sphere-uv-assistant/Sphere.o.d
